*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    /* display:flex;
    justify-content:center; */
    background:#fff;
}
header{
    background-color:white;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:60px;
    margin-bottom:20px;
    display:flex;
}
.logo{
    flex:1;
    display:flex;
    align-items: center;
    padding-left:20px;
}
.logo a{
    color:#004d90; 
    font-size:20px;
    font-family: 'Poiret One', cursive;
    text-decoration: none;
}
.menu-wrap{
    flex:2;
    display:flex;
    justify-content: flex-end;
    
}

.menu{
    display:flex;
    align-items:center
}
.menu-item{
    list-style:none;
    padding-right:20px;
    
}
.menu-item a{
    font-size:14px;
    letter-spacing:3px;
    font-family: 'Poiret One', cursive;
    text-decoration: none;
    color:#333;
}
main{
    padding-top:60px;
    display:flex;
}
.pro-wrap{
    display:none;
}
.pro-img-wrap{
    width:100%;
}
.pro-list{
    width:100%;
    padding-left:10px;
    padding-right:10px;
    
}
.pro-img-item{
    width:100%;
    
    text-decoration: none;
    margin-bottom:20px;
}
.pro-img-content{
    margin-bottom:20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45)
}
.pro-img{
    height:260px;
    /* background-size:auto 100%; */
    background-repeat: no-repeat;
    background-size: cover
}
.pro-img-title-wrap{
    padding-left:15px;
    
    
    
    font-size:20px;
    ;
    text-decoration: none;

    color:white;
}
.pro-img-title{
    display:flex;
    align-items:center;
    height:40px;
    text-decoration: none;
}
.pro-img-intro{
    font-size:14px;
    padding-bottom:10px;
}
.pro-img-item-background{
    display:none;
}
@media screen and (min-width:640px){
    .pro-list{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-around
    }
    .pro-img-item{
        width:45%;

    }
}
@media screen and (min-width:1024px){
    html{
        height:100%;
    }
    body{
        height:100%;
    }
    main {
        height:calc(100% - 80px)
    }
    .pro-wrap{
        display:flex;
        
        flex:1;
        height:100%;

        justify-content: flex-end;
        align-items: center;
    }
    .pro-title-list{
        flex-direction:column;
        
    }
    
    .pro-item{
        text-align: right;
        font-size:25px;
        padding-top:10px;
        padding-bottom:10px;
        color:#004d90
    }
    .pro-item a{
        color:#004d90;
        font-family: 'Poiret One', cursive;
        font-weight:400;
    }
    .pro-img-wrap{
        flex:2;
    }
    .pro-list{
        flex:1;
        height:100%;
        overflow:hidden;
        position:relative;
    }
    .pro-img-item{
        display:flex;
        
        position:absolute;
        height:100%;
        width:100%;
        left:100%;
        top:0;
        
        transition:left 1s;
    }
    .pro-img-item.active{
        
        justify-content: flex-end;
        flex:1;
        left:0;
    }
    .pro-img-content{
        width:90%;
        height:90%
    }
    .pro-img{
        height:100%;
    }
    .pro-img-title-wrap{
        display:none;
    }
    .pro-img-item-background{
        display:block;
        z-index:-1;
        position:absolute; 
        width:80%; 
        height:100%;
        right:0; 
        top:0; 
        bottom:0
    }
}