*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    /* display:flex;
    justify-content:center; */
    background:#f1f1f1;
}
header{
    background-color:white;
    height:60px;
    margin-bottom:20px;
    display:flex;
}
.logo{
    flex:1;
    display:flex;
    align-items: center;
    padding-left:20px;
}
.logo a{
    color:#004d90; 
    font-size:20px;
    font-family: 'Poiret One', cursive;
    text-decoration: none;
}
.menu-wrap{
    flex:2;
    display:flex;
    justify-content: flex-end;
    
}

.menu{
    display:flex;
    align-items:center
}
.menu-item{
    list-style:none;
    padding-right:20px;
    
}
.menu-item a{
    font-size:14px;
    letter-spacing:3px;
    font-family: 'Poiret One', cursive;
    text-decoration: none;
    color:#333;
}
main{
    display:flex;
}
.pro-wrap{
    display:none;
}
.pro-img-wrap{
    width:100%;
}
.pro-list{
    width:100%;
    padding-left:10px;
    padding-right:10px;
    
}
.pro-img-item{
    width:100%;
    
    text-decoration: none;
    margin-bottom:20px;
}
.pro-img-content{
    margin-bottom:20px;
}
.pro-img{
    height:260px;
    /* background-size:auto 100%; */
    background-repeat: no-repeat;
    background-size: cover
}
.pro-img-title-wrap{
    padding-left:15px;
    
    
    
    font-size:20px;
    ;
    text-decoration: none;

    color:white;
}
.pro-img-title{
    display:flex;
    align-items:center;
    height:40px;
    text-decoration: none;
}
.pro-img-intro{
    font-size:14px;
    padding-bottom:10px;
}

@media screen and (min-width:640px){
    .pro-list{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-around
    }
    .pro-img-item{
        width:45%;

    }
}
@media screen and (min-width:1024px){
    .pro-wrap{
        display:block;
        flex:1
    }
    .pro-list{
        
        flex-direction:column;
    }

    .pro-img-wrap{
        flex:2
    }
    .pro-img-item{
        display:none;
    }

}